amqp==1.0.13
anyjson==0.3.3
awscli==1.8.6
billiard==2.7.3.34
botocore==1.2.4
celery==3.0.25
CherryPy==8.1.2
click==6.6
colorama==0.3.3
Cython==0.22.1
decorator==3.4.2
Django==1.5
django-appconf==1.0.1
django-braces==1.4.0
django-celery==3.0.23
django-compressor==1.2
django-debug-toolbar==0.9.4
django-discover-runner==1.0
docutils==0.12
factory-boy==2.4.1
findspark==1.1.0
Flask==0.11.1
glog==0.1
gnureadline==6.3.3
h5py==2.5.0
ipython==3.2.0
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.7.1
kombu==2.5.16
Lasagne==0.1.dev0
leveldb==0.193
lxml==3.4.2
MarkupSafe==0.23
matplotlib==1.4.3
mechanize==0.2.5
mock==1.0.1
networkx==1.9.1
numpy==1.11.0
pandas==0.16.2
Paste==2.0.3
pep8==1.6.2
pika==0.9.14
Pillow==2.7.0
protobuf==2.6.1
psutil==5.0.0
pyasn1==0.1.8
Pygments==2.0.2
PyInstaller==3.2
pyparsing==2.0.3
python-dateutil==2.4.2
python-gflags==2.0
Python-OOXML==0.10
pytz==2014.10
PyYAML==3.11
redis==2.10.3
requests==2.10.0
rsa==3.1.4
scikit-image==0.11.3
scipy==0.15.1
selenium==2.45.0
six==1.9.0
South==0.7.6
Sphinx==1.2.3
sqlparse==0.1.14
TBB==0.1
Theano==0.7.0
Unidecode==0.4.17
Unipath==1.1
vboxapi==1.0
Werkzeug==0.11.11
